.pageHeader {
    text-align: center;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* Evenly space the child elements */
}
.shop {
    flex-basis: 16%;
    border: 1px dotted black;
    padding: 1em; 
    margin: 0.5em;
    text-align: center; /* Center align the text in the boxes */
}

